//
// Base Styles //
//
html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

//
// Default Button, Link //
//
a {
  color: $color-dark;
  @include transition(linear 0.1s);
  &:hover {
    color: $color-primary;
    text-decoration: none;
  }
}
button {
  background: transparent;
  border: 0;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
}
a,
button {
  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
  }
}

//
// Container //
//
.container,
.container-fluid {
  position: relative;
  padding: 0 20px;
}
.row {
  margin-bottom: -30px;
  div[class^="col-"]:not(.row) {
    margin-bottom: 30px;
  }
  .form-row {
    div[class^="col-"] {
      margin-bottom: 0;
    }
  }
}

//
// Column Spacing //
//
@include breakpoint-above(sm) {
  .col-spacing-70 {
    margin-right: -35px;
    margin-bottom: -70px;
    margin-left: -35px;
    div[class^="col-"]:not(.row) {
      margin-bottom: 70px;
      padding: 0 35px;
    }
  }
  .col-spacing-60 {
    margin-right: -30px;
    margin-bottom: -60px;
    margin-left: -30px;
    div[class^="col-"]:not(.row) {
      margin-bottom: 60px;
      padding: 0 30px;
    }
  }
  .col-spacing-50 {
    margin-right: -25px;
    margin-bottom: -50px;
    margin-left: -25px;
    div[class^="col-"]:not(.row) {
      margin-bottom: 50px;
      padding: 0 25px;
    }
  }
  .col-spacing-40 {
    margin-right: -20px;
    margin-bottom: -40px;
    margin-left: -20px;
    div[class^="col-"]:not(.row) {
      margin-bottom: 40px;
      padding: 0 20px;
    }
  }
  .col-spacing-70,
  .col-spacing-60,
  .col-spacing-50,
  .col-spacing-40 {
    .row {
      margin-right: -15px;
      margin-bottom: -30px;
      margin-left: -15px;
      div[class^="col-"]:not(.row) {
        margin-bottom: 30px;
        padding: 0 15px;
      }
    }
    .col-spacing-20 {
      margin-right: -10px;
      margin-bottom: -20px;
      margin-left: -10px;
      div[class^="col-"]:not(.row) {
        margin-bottom: 20px;
        padding: 0 10px;
      }
    }
    .col-spacing-10 {
      margin-right: -5px;
      margin-bottom: -10px;
      margin-left: -5px;
      div[class^="col-"]:not(.row) {
        margin-bottom: 10px;
        padding: 0 5px;
      }
    }
  }
}

.col-spacing-20 {
  margin-right: -10px;
  margin-bottom: -20px;
  margin-left: -10px;
  div[class^="col-"]:not(.row) {
    margin-bottom: 20px;
    padding: 0 10px;
  }
}
.col-spacing-10 {
  margin-right: -5px;
  margin-bottom: -10px;
  margin-left: -5px;
  div[class^="col-"]:not(.row) {
    margin-bottom: 10px;
    padding: 0 5px;
  }
}

//
// Positioning //
//
.position-middle {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
  margin: 0 auto;
}

.position-top,
.position-bottom {
  position: absolute;
  left: 0;
  width: 100%;
}
.position-top {
  top: 30px;
}
.position-bottom {
  bottom: 30px;
}
.container-fluid {
  .position-top,
  .position-bottom {
    padding: 0 10px;
  }
}
.container {
  .position-top,
  .position-bottom {
    padding: 0 20px;
  }
}

.position-xl-left,
.position-xl-right {
  position: relative;
  @include transform(translateX(0));
}
.position-left {
  left: 0;
}
.position-right {
  right: 0;
  left: auto;
}
.position-center {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}
@include breakpoint-above(xl) {
  .position-xl-left,
  .position-xl-right {
    position: relative;
    @include transform(translateX(0));
  }
  .position-xl-left {
    left: 0;
  }
  .position-xl-right {
    right: 0;
    left: auto;
  }
  .position-xl-center {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
  }
}
@include breakpoint-above(lg) {
  .position-lg-left,
  .position-lg-right {
    position: relative;
    @include transform(translateX(0));
  }
  .position-lg-left {
    left: 0;
  }
  .position-lg-right {
    right: 0;
    left: auto;
  }
  .position-lg-center {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
  }
}
@include breakpoint-above(md) {
  .position-md-left,
  .position-md-right {
    position: relative;
    @include transform(translateX(0));
  }
  .position-md-left {
    left: 0;
  }
  .position-md-right {
    right: 0;
    left: auto;
  }
  .position-md-center {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
  }
}

//
// Mark //
//
mark {
  background: $bg-grey;
  color: $color-dark;
}

//
// iframe //
//
iframe {
  width: 100%;
  border: 0;
}

//
// Pre(Preformatted text) //
//
pre {
  border: 1px solid $color-black-01;
  border-radius: 5px;
  padding: 0 20px;
  color: $color-primary;
  line-height: 28px;
}
.bg-dark,
.bg-dark-lighter,
.bg-dark-lightest,
.bg-black-01,
.bg-black-02,
.bg-black-03,
.bg-black-04,
.bg-black-05,
.bg-black-06,
.bg-black-07,
.bg-black-08,
.bg-black-09 {
  pre {
    border-color: $color-white-02;
    color: $color-white-06;
  }
}

//
// Card //
//
.card {
  border: 1px solid $color-black-01;
}

//
// Modal Styles //
//
.modal {
  &.fade {
    .modal-dialog {
      @include transition(ease-out 0.2s);
      @include transform(translate(0) scale(0.98));
    }
  }
  &.show {
    .modal-dialog {
      @include transform(translate(0) scale(1));
    }
  }
  .modal-content {
    @include box-shadow(0 0 30px 0 rgba(0, 0, 0, 0.3));
    border: 0;
    .modal-header {
      border-bottom: 1px solid $color-black-01;
    }
    .modal-footer {
      border-top: 1px solid $color-black-01;
    }
  }
}
