//
// Footer Styles //
//
.footer {
  h3 {
    color: #ffffff !important;
  }
  background: $bg-dark-lighter;
  padding: 70px 0;
  #map-canvas {
    width: 100%;
    height: 100%;
  }
  @include breakpoint-less(lg) {
    #map-canvas {
      height: 250px;
    }
  }
}

.footer-bottom {
  padding: 50px 0;
  .row {
    margin-bottom: -20px;
    div[class^="col-"],
    div[class*=" col-"] {
      margin-bottom: 20px;
    }
  }
}
