//
// List Styles //
//
ul.myList {
    margin: 0;
    li {
        padding-left: 0rem;
        margin: 0 0 10px;
        &:last-child {
            margin: 0;
        }
        ul,
        ol {
            margin-top: 10px;
        }
        a {
            @include transition(linear 0.1s);
            text-decoration: none;
        }
    }
    &.list-unstyled,
    &.list-dash,
    &.list-long-dash,
    &.list-horizontal,
    &.list-horizontal-unstyled,
    &.list-horizontal-dash,
    &.list-horizontal-slash,
    &.list-icon {
        padding: 0;
    }
    &.list-unstyled,
    &.list-dash,
    &.list-long-dash {
        li {
            list-style-type: none;
        }
    }
    &.list-dash,
    &.list-long-dash {
        li {
            &:before {
                padding-right: 8px;
            }
            a {
                &:hover {
                    padding-left: 2px;
                }
            }
            ul,
            ol {
                padding-left: 40px;
            }
        }
    }
    &.list-dash {
        li {
            &:before {
                content: "\002D";
            }
        }
    }
    &.list-long-dash {
        li {
            &:before {
                content: "\0336";
            }
        }
    } //
    // Horizontal List //
    //
    &.list-horizontal,
    &.list-horizontal-unstyled,
    &.list-horizontal-dash,
    &.list-horizontal-slash {
        li {
            a:visited {
                color: #bbb9b9;
            }
            display: inline-block;
        }
    }
    &.list-horizontal-unstyled-fontawesome-icon {
        li {
            a:visited {
                color: #111010;
            }
            display: inline-block;
        }
    }
    &.list-horizontal {
        li {
            margin: 0;
            &:after {
                content: ",";
                padding-right: 3px;
            }
            &:last-child {
                &:after {
                    content: "";
                    padding: 0;
                }
            }
        }
    }
    &.list-horizontal-unstyled {
        li {
            margin: 0 16px 0 0;
            &:last-child {
                margin: 0;
            }
            a.button-circle {
                margin: 0 -5px;
            }
        }
        &.icon-xl {
            li {
                margin-right: 30px;
                &:last-child {
                    margin: 0;
                }
            }
        }
        &.icon-lg {
            li {
                margin-right: 24px;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    &.list-horizontal-unstyled-fontawesome-icon {
        li {
            margin: 0 16px 0 0;
            &:last-child {
                margin: 0;
            }
            a.button-circle {
                margin: 0 -5px;
            }
        }
        &.icon-xl {
            li {
                margin-right: 30px;
                &:last-child {
                    margin: 0;
                }
            }
        }
        &.icon-lg {
            li {
                margin-right: 24px;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    &.list-horizontal-dash {
        li {
            &:after {
                content: "-";
            }
        }
    }
    &.list-horizontal-slash {
        li {
            &:after {
                content: "/";
            }
        }
    }
    &.list-horizontal-dash,
    &.list-horizontal-slash {
        li {
            margin: 0;
            &:after {
                padding: 0 6px;
            }
            &:last-child {
                &:after {
                    content: "";
                    padding: 0;
                }
            }
        }
    } //
    // Icon List //
    //
    &.list-icon {
        li {
            list-style-type: none;
            &:before {
                font-family: "Font Awesome 5 Free";
                padding-right: 8px;
            }
            a {
                &:hover {
                    padding-left: 2px;
                }
            }
            ul,
            ol {
                padding-left: 40px;
            }
        }
        &.list-icon-check {
            li {
                &:before {
                    content: "\f00c";
                }
            }
        }
        &.list-icon-close {
            li {
                &:before {
                    content: "\f00d";
                }
            }
        }
        &.list-icon-plus {
            li {
                &:before {
                    content: "\f067";
                }
            }
        }
        &.list-icon-arrow {
            li {
                &:before {
                    content: "\f105";
                }
            }
        }
        &.list-icon-caret {
            li {
                &:before {
                    content: "\f0da";
                }
            }
        }
        &.list-icon-trophy {
            li {
                &:before {
                    content: "\f091";
                }
            }
        }
        &.list-icon-heart {
            li {
                &:before {
                    content: "\f004";
                }
            }
        }
        &.list-icon-globe {
            li {
                &:before {
                    content: "\f0ac";
                }
            }
        }
        &.list-icon-circle-check {
            li {
                &:before {
                    content: "\f058";
                }
            }
        }
        &.list-icon-circle-plus {
            li {
                &:before {
                    content: "\f055";
                }
            }
        }
        &.list-icon-circle-arrow {
            li {
                &:before {
                    content: "\f138";
                }
            }
        }
    }
}

// ol {
//     margin: 0;
//     li {
//         margin: 0 0 10px;
//         &:last-child {
//             margin: 0;
//         }
//         ul,
//         ol {
//             margin-top: 10px;
//         }
//     }
// }