//
// Typography Styles //
//
.myTypography {
  color: $color-primary;
  font: 300 16px $font-primary;
  letter-spacing: 0;
  body {
    color: $color-primary;
    font: 300 16px $font-primary;
    letter-spacing: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 10px;
    letter-spacing: 0;
    color: $color-dark;
    font-weight: $font-weight-bold;
  }
  h1 {
    font-size: 40px;
    line-height: 56px;
    color: $color-white;
  }
  h2 {
    font-size: 32px;
    line-height: 48px;
  }
  h3 {
    font-size: 28px;
    line-height: 44px;
  }
  h4 {
    font-size: 24px;
    line-height: 40px;
  }
  h5 {
    font-size: 20px;
    line-height: 36px;
  }
  h6 {
    font-size: 16px;
    line-height: 30px;
  }
  p {
    margin: 0;
    line-height: 30px;
  }
  .lead {
    line-height: 36px;
  }
  .display-1 {
    font-size: 96px;
  }
  .display-2 {
    font-size: 88px;
  }
  .display-3 {
    font-size: 72px;
  }
  .display-4 {
    font-size: 56px;
  }
  .heading-uppercase {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  .uppercase {
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .font-small {
    font-size: 14px;
    line-height: 26px;
  }
  .font-large {
    font-size: 20px;
    line-height: 36px;
  } //
  // Letter Spacing //
  //
  .letter-spacing-1px {
    letter-spacing: 1px;
  }
  .letter-spacing-2px {
    letter-spacing: 2px;
  }
  .letter-spacing-3px {
    letter-spacing: 3px;
  }
  .letter-spacing-4px {
    letter-spacing: 4px;
  }
  .letter-spacing-5px {
    letter-spacing: 5px;
  } //
  // Line Heights //
  //
  .line-height-100 {
    line-height: 100%;
  }
  .line-height-110 {
    line-height: 110%;
  }
  .line-height-120 {
    line-height: 120%;
  }
  .line-height-130 {
    line-height: 130%;
  }
  .line-height-140 {
    line-height: 140%;
  }
  .line-height-150 {
    line-height: 150%;
  }
  .line-height-160 {
    line-height: 160%;
  }
  .line-height-170 {
    line-height: 170%;
  }
  .line-height-180 {
    line-height: 180%;
  }
  .line-height-190 {
    line-height: 190%;
  }
  .line-height-200 {
    line-height: 200%;
  } //
  // Font Icon Styles //
  //
  i {
    display: inline-block;
  } //
  // Icon sizes //
  //
  .icon-5xl {
    i {
      font-size: 40px;
    }
  }
  .icon-4xl {
    i {
      font-size: 36px;
    }
  }
  .icon-3xl {
    i {
      font-size: 32px;
    }
  }
  .icon-2xl {
    i {
      font-size: 28px;
    }
  }
  .icon-xl {
    i {
      font-size: 24px;
    }
  }
  .icon-lg {
    i {
      font-size: 20px;
    }
  }
  .icon-sm {
    i {
      font-size: 14px;
    }
  }
  // input,
 // textarea,
 // .form-control {
 //   color: #646464 !important;
 // }
 // textarea {
 //     height: 140px;
 // }
 // input,
 // textarea {
 //   background: transparent;
 //   width: 100%;
 //   border: 1px solid rgba(0, 0, 0, 0.1);
 //   margin-bottom: 10px;
 //   padding: 15px 20px;
 //   box-shadow: none;
 //   font: 0 16px "Heebo", sans-serif; // -webkit-transition: ease-out 0.2s;
 //   transition: ease-out 0.2s;
 // }
}
